EXPO_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-public-key
EXPO_PUBLIC_ZALO_APP_ID=your-zalo-app-id
EXPO_PUBLIC_FACEBOOK_APP_ID=4398976803667476
EXPO_PUBLIC_FACEBOOK_CLIENT_TOKEN=your-facebook-client-token
